body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.material-icons {
  font-size: inherit;
  line-height: inherit;
}

.promo-block i {
  margin: 0 0 1rem 0;
  font-size: 7rem;
  display: block;
}

.contacts .material-icons {
  line-height: 1.0;
  font-size: 0.9rem;
  width: 0.9rem;
  margin: 0.1rem 0.1rem 0 0;
}

.brand-logo {
  line-height: 1.0;
}
.brand-logo img {
  padding-top: 6px;
}

.form-container {
  min-height: 20rem;
  margin: 3em 0;
}
.form-container form .form-inner {
  margin: 2rem;
}

form.login-form label:after, form.logout-form label:after {
  width: 17rem;
}

form.order-form label:after {
  width: 20rem;
}

ul.order-list .collection-item.avatar {
  padding: 10px 69px 10px 78px;
}
ul.order-list .collection-item.avatar:hover {
  background: #f5f5f5;
}
ul.order-list .collection-item.avatar:hover button {
  background-color: #ff5722 !important;
}
ul.order-list .collection-item.avatar:hover button i {
  color: white !important;
}
ul.order-list .collection-item.avatar .circle {
  width: 48px;
  height: 48px;
}

.nav-avatar {
  height: 48px;
  width: auto;
  display: block;
  margin: 8px;
}

div.nav-balance {
  font-size: 1rem;
  display: block;
  padding: 0 15px;
}
div.nav-balance i {
  font-size: 1.4rem;
  line-height: 56px;
  height: 56px;
  margin: 0;
}

@media only screen and (min-width: 601px) {
  div.nav-balance i {
    line-height: 64px;
    height: 64px;
  }
}
@media only screen and (min-width: 992px) {
  div.nav-balance i {
    line-height: 60px;
    height: 64px;
  }
}
@media only screen and (min-width: 1200px) {
  div.nav-balance i {
    line-height: 62px;
    height: 64px;
  }
}
button.nav-logout {
  display: block;
  padding: 0 15px;
  height: 56px;
  line-height: 56px;
  text-transform: none;
  font-size: 1rem;
  color: #fff;
}
button.nav-logout:focus {
  border: none;
  box-shadow: none;
  outline: 0;
  background-color: transparent;
}

@media only screen and (min-width: 601px) {
  button.nav-logout {
    height: 64px;
    line-height: 64px;
  }
}
.side-nav button.nav-logout {
  color: #343434;
  width: 100%;
  text-align: left;
}
