// Общие вещи
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.material-icons {
  font-size: inherit;
  line-height: inherit;
}

// Промо-блок
.promo-block {
  i {
    margin: 0 0 1rem 0;
    font-size: 7rem;
    display: block;
  }
}

// Контакты
.contacts {
  .material-icons {
    line-height: 1.0;
    font-size: 0.9rem;
    width: 0.9rem;
    margin: 0.1rem 0.1rem 0 0;
  }
}

// Лого
.brand-logo {
  line-height: 1.0;

  img {
    padding-top: 6px;
  }
}

// Формы
.form-container {
  min-height: 20rem;
  margin: 3em 0;

  form {
    .form-inner {
      margin: 2rem;
    }
  }
}

form.login-form {
  label:after {
    width: 17rem;
  }
}

form.order-form {
  label:after {
    width: 20rem;
  }
}
