// Общие вещи
.material-icons {
  font-size: inherit;
  line-height: inherit;
}

// Контакты
.contacts {
  .material-icons {
    line-height: 1.0;
    font-size: 0.9rem;
    width: 0.9rem;
    margin: 0.1rem 0.1rem 0 0;
  }
}

// Лого
.brand-logo {
  line-height: 1.0;

  img {
    padding-top: 6px;
  }
}

