// Общие вещи
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.material-icons {
  font-size: inherit;
  line-height: inherit;
}

// Промо-блок
.promo-block {
  i {
    margin: 0 0 1rem 0;
    font-size: 7rem;
    display: block;
  }
}

// Контакты
.contacts {
  .material-icons {
    line-height: 1.0;
    font-size: 0.9rem;
    width: 0.9rem;
    margin: 0.1rem 0.1rem 0 0;
  }
}

// Лого
.brand-logo {
  line-height: 1.0;

  img {
    padding-top: 6px;
  }
}

// Формы
.form-container {
  min-height: 20rem;
  margin: 3em 0;

  form {
    .form-inner {
      margin: 2rem;
    }
  }
}

form.login-form, form.logout-form {
  label:after {
    width: 17rem;
  }
}

form.order-form {
  label:after {
    width: 20rem;
  }
}

// Список заказов
ul.order-list {
  .collection-item.avatar {
    padding: 10px 69px 10px 78px;

    &:hover {
      background: #f5f5f5;
    }

    .circle {
      width: 48px;
      height: 48px;
    }
  }
}

// Аватар в строке навигации
.nav-avatar {
  height: 48px;
  width: auto;
  display: block;
  margin: 8px;
}

// Строка баланса
div.nav-balance {
  font-size: 1rem;
  display: block;
  padding: 0 15px;

  i {
    font-size: 1.4rem;
    line-height: 56px;
    height: 56px;
    margin: 0;
  }
}

@media only screen and (min-width: 601px) {
  div.nav-balance i {
      line-height: 64px;
      height: 64px;
  }
}

@media only screen and (min-width: 992px) {
  div.nav-balance i {
    line-height: 60px;
    height: 64px;
  }
}

@media only screen and (min-width: 1200px) {
  div.nav-balance i {
    line-height: 62px;
    height: 64px;
  }
}

// Кнопка выхода
button.nav-logout {
  display: block;
  padding: 0 15px;
  height: 56px;
  line-height: 56px;
  text-transform: none;
  font-size: 1rem;
  color: #fff;

  &:focus {
    border: none;
    box-shadow: none;
    outline: 0;
    background-color: transparent;
  }
}

@media only screen and (min-width: 601px) {
  button.nav-logout {
    height: 64px;
    line-height: 64px;
  }
}

.side-nav button.nav-logout {
  color: #343434;
  width: 100%;
  text-align: left;
}
